@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/youtube-sans');

body{
    background-color: rgb(24,24,24);
    color: #fff;
    font-family: 'YouTube Sans', sans-serif;
    font-family: 'YouTube Sans Dark', sans-serif;

}

.videos {
    width: 100%;
    gap: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minMax(300px, 1fr));
    justify-content: space-between;
    padding: 10px 30px;
  }

  .Load{
    display: flex;
    justify-content: center;
    background-color:rgb(24,24,24) ;
    color: rgb(24,24,24);
    align-items: center;
    margin-bottom: 1200px;
   
  }